<!--<div class="ui-g">-->
    <p-panel header="Projects">
        <div class="ui-g">

            <div class="ui-g-2">
                <p-panel>
                    <span>Project 1</span>
                </p-panel>
            </div>

            <div class="ui-g-2">
                <p-panel>
                    <span>Project 2</span>
                </p-panel>
            </div>

            <div class="ui-g-2">
                <p-panel>
                    <span>Project 3</span>
                </p-panel>
            </div>
        </div>
    </p-panel>
<!--</div>-->